#Ignore these
__pycache__

#confidential
plotly_cred.py
gempyrean.py
blackswanclimb.py
blackswanclimb2.py
strat_tester.py

black_swan.jpg
blackswan/

.ipynb_checkpoints


#in progress
trade_auth.py

#discontinued
_old/
